@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "LeferiPoint-WhiteObliqueA";
}

html {
  background-color: #222;
}
h1 {
  color: #fff;
}
.header {
  padding-top: 2rem;
  text-align: center;
}
.header input[type="text"] {
  color: #fff;
  background: none;
  outline: none;
  border: none;
}
.header input[type="submit"] {
  padding: 0 1rem;
}
.toolBox {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.toolBox .actionButton {
  color: #000000ba;
  background-color: #ffffffd6;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
.toolBox .actionButton:hover {
  background-color: #ffffff59;
}
.listContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem 0 7rem 0;
}
.listContainer .list:not(:last-of-type) {
  content: "";
  width: 80%;
  border-bottom: 1px solid #ddd4;
}
.listContainer .subTitle {
  color: #fff;
  padding: 3rem 0;
}
.list > div {
  display: inline-block;
}

.list {
  width: 80%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 1rem;
  color: #fff;
}
.list .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list .index {
  min-width: 2rem;
  text-align: left;
  font-size: 0.8rem;
}

.list .container .info {
  display: flex;
  gap: 3rem;
}

.list .container .info .date,
.list .container .info .state {
  font-size: 0.7rem;
  font-weight: 400;
  color: #aaa;
}

.list .container .content {
  padding: 0.2rem 0;
  text-align: start;
}

.listContainer .toggle {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-left: 2rem;
  cursor: pointer;
}

.listContainer .toggle:hover {
  background-color: #ddd2;
}

.listContainer .toggle .checked {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  background-color: #ffffffb5;
  border-radius: 50%;
}

.listContainer .toggle .unchecked {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
}

.fab {
  background: #fff;
  height: 3.5rem;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  border-radius: 2.5rem;
  line-height: 3.5rem;
  padding: 0 1rem;
  cursor: pointer;
}

.fab:hover {
  background: #ffffff94;
}

.notFound {
  color: #fff;
}
